@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <section id="parent" class="animsition">

        <!-- Your logo -->
        <img src="img/logo.png" alt="" class="quick fadeIn fixed align-bottom align-right mt50 main-logo" />

        <div id="leftSide" class="color">
            <div id="home" class="col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="h-content top-25">
                <img src="img/logo-flat.png" />
                    <h1 class="mid animated fadeInUp mb30">
                        Free. Cross-platform. Open source developement platform for building all your apps. <br>
                    </h1>

                    <div class="mt40 slow animated fadeInUp">
                        <div class="fadeup vertical compress">

                            <form class="vertical-form compressed-form"
                                  action="https://www.microsoft.com/net/learn/get-started/"
                                  method="post">
                                <button type="submit" class="submit btn-solid round input-submit"><i class="ion-android-globe"> Get Started</i></button>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="copyright quick fadeIn align-bottom fixed">
                    <p class="block  fw400">
                        &copy; 2018 - Made with <i class="ti-heart pr5 pl5"></i> by <span class="notoSerif italic fw600">Amine Smahi</span>.
                    </p>
                </div>


                <div class="vertical-result">
                    <div id="subscribe-result" class="vertical-result fixed col-sm-10 align-bottom">
                    </div>
                </div>

            </div>
        </div>


        <div id="rightSide" class="visible img-only">

            <div class="scene">
                <div class="wing-left"></div>
                <div class="wing-right"></div>
                <div class="exhaust"></div>
                <div class="capsule">
                    <div class="top">
                        <div class="shadow"></div>
                    </div>
                    <div class="base"></div>
                </div>
                <div class="window-big"></div>
                <div class="window-small"></div>
                <div class="fire-1"></div>
                <div class="fire-2"></div>
                <div class="fire-3"></div>
                <div class="fire-4"></div>
                <div class="spark-1"></div>
                <div class="spark-2"></div>
                <div class="spark-3"></div>
                <div class="spark-4"></div>
                <div class="star star--1"></div>
                <div class="star star--2"></div>
                <div class="star star--3"></div>
                <div class="star star--4"></div>
                <div class="star star--5"></div>
                <div class="star star--6"></div>
                <div class="star star--7"></div>
                <div class="star star--8"></div>
                <div class="star star--9"></div>
                <div class="star star--10"></div>
                <div class="star star--11"></div>
                <div class="star star--12"></div>
                <div class="star star--13"></div>
                <div class="star star--14"></div>
                <div class="star star--15"></div>
                <div class="star star--16"></div>
            </div>

    </section>

